@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
/* dark 1 */
.text-dark {
  color: #131313;
}
/* dark 2 */
.text-gray {
  color: #424242;
}
/* dark 3 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem 1.56rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
}
/* Header Styles */
/* Navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.12rem;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
/* Banner Styles */
.banner-content {
  padding-top: 6rem;
  width: 59%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 1.56rem;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.banner-description {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner-image {
  width: 100%;
}

/* Responsive for mobile */
@media screen and (max-width: 36rem) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .banner-content {
    padding-top: 1rem;
  }
}
