@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.text-primary {
  color: #ff900e;
}
/* dark 1 */
.text-dark {
  color: #131313;
}
/* dark 2 */
.text-gray {
  color: #424242;
}
/* dark 3 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem 1.56rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 8.125rem;
}
/* Header Styles */
/* Navbar Styles */
.navbar {
  padding-top: 3.125rem;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.12rem;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
/* Banner Styles */
.banner-content {
  padding-top: 6rem;
  width: 59%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 1.56rem;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.625rem;
}
.banner-image {
  width: 100%;
}
/* Team Styles */
.teams {
  align-items: center;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.our-features {
  margin-left: 8.125rem;
  max-width: 33.125rem;
  align-items: center;
  flex-direction: column;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list {
  font-weight: 500;
}
/* Features Styles*/
.features {
  gap: 8.75rem;
}
#features-section-title {
  border-left: #ff900e 5px solid;
  padding: 1.5rem;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #131313;
  margin-top: 0;
  margin-bottom: 0.625rem;
}
.feature-card {
  padding: 1.875rem;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}
.feature-description {
  font-size: 1rem;
  line-height: 1.625rem;
}

#experience-badge {
  padding: 2.82rem 2.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: -6.25rem;
  margin-top: -6.25rem;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img {
  width: 100%;
}
/* Fact Styles*/
.some-facts {
  margin-bottom: 8.125rem;
}
.fact-description {
  max-width: 33.75rem;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.fact-card {
  border: #ff900e 1px solid;
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 0.625rem;
  margin-bottom: 0.312rem;
}
.fact-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #727272;
  margin-top: 0.625rem;
}
/* Sponsor Styles */
.sponsor-info {
  max-width: 33.75rem;
  margin: 50px auto;
  text-align: center;
}
.sponsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-company img {
  filter: grayscale(100%);
}
.our-info {
  margin-bottom: 8.125rem;
}
/* Footer */
footer {
  margin: 0px auto;
  padding: 3%;
}
.footer-content {
  justify-content: center;
  align-items: center;
}
/* Responsive for mobile */
@media screen and (max-width: 36rem) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .banner-content {
    padding-top: 1rem;
  }
  .navbar {
    padding-top: 1rem;
  }
  .team-image-container,
  .facts-container,
  .sponsor-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-image-container img {
    max-width: 100%;
  }
  .our-features {
    margin-left: 1.25rem;
    text-align: center;
    margin-top: 2rem;
  }
  .facts-container,
  .sponsor-company {
    gap: 1.5rem;
  }
  #experience-badge {
    margin-left: 5rem;
    margin-top: -100%;
  }
}

/* Medium Size Device */
@media screen and (min-width: 36rem) and (max-width: 62rem) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    text-align: center;
    margin-top: 2rem;
  }
  .facts-container,
  .sponsor-company {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  #experience-badge {
    margin-left: 30%;
    margin-top: -100%;
  }
}
/* Medium Size Device */
@media screen and (min-width: 62rem) and (max-width: 90.25rem) {
  body {
    padding: 0% 1%;
  }
}
